---
apiVersion: v1
kind: ConfigMap
metadata:
  name: laboom-llm-serving-dashboard
  namespace: {{ monitoring_namespace }}
  labels:
    grafana_dashboard: "1"
data:
  laboom-llm-serving.json: |
{{ dashboard_json | indent(4, first=True) }}
